html {
    box-sizing: border-box;
}
body{
   background: url(images/background.svg) right top 220px no-repeat;
   background-size: 60%, contain;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
}
header{
    margin-top: 20px;
    margin-left: 23px;
    max-width: 823px;
    display: flex;
 }
.logo{
   width: 174px;
   height: 44px;
 }
 .searchBar{
   margin-left: 20px;
   width: 100%;
   font-size: 16px;
   font-weight: 400;
   line-height: 18.75px;
   text-align: left;
   max-width: 90%;
   height: 40px;
   border-radius: 6px;
   border: 1px solid #E2E2E2;
   box-shadow: 2px 2px 2px 0 #0000001A inset;
   padding-left: 39px;
   background: url("images/search.svg") left 15px top 15px no-repeat, linear-gradient(rgba(254, 254, 254, 1), rgba(246, 246, 246, 1));
 }
 .searchBar input::placeholder{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding-left: 20px;
    opacity: .3;
   }

 main{
   display: flex;
   flex-direction: column;
   max-width: 800px;
   margin-left: 45px;
 }
 
 @media (max-width: 480px){
  header {
    margin-left: 0;
    flex-direction: column;
    align-items: center;
  }
  .searchBar {
    margin-left: 0;
    margin-top: 10px;
  }
  main {
    margin-left: 0;
  }
  .task button{
    opacity: 1;
  }
  body{
    background: none;
  }
  button.markImportant{
    background: url(images/star_border.svg) no-repeat;
    background-color: #27AE60;
    background-size: 50%;
    background-position: center, center;
    font-size: 0;
    width: 30px;
    height: 30px;
    right: 47px;
  }
  button.delete{
    right: 8px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
 }
 @media (prefers-color-scheme: dark) {
  body {
      background-color: rgba(51, 60, 77, 1);
  }
  .filter button {
    mix-blend-mode: difference;
    color: rgba(171, 200, 255, 1) !important;
  }
  .newTask{
    color: rgba(171, 200, 255, 1) !important;
  }
  .newTask button {
    
    background: rgb(74, 92, 126) !important;
    color: rgba(171, 200, 255, 1) !important;
  }
  .markImportant {
    background: url(images/star_border.svg) no-repeat center;
    filter: invert(1) hue-rotate(180deg);
    background-color: rgb(132, 163, 221) !important;
    color: rgb(40, 48, 63) !important;
  }
}

.filter { 
   height: 50px;
   margin-top: 33px;
   box-shadow: 0px 3px 0px 0px #0000000a inset ;
   
}
 
.filter button {
   font-size: 16px;
   line-height: 18.75px;
   text-align: center;
   color: #53565A;
   width: 25%;
   min-width: 60px;
   height: 50px;
   background-color: transparent;
   border-color: transparent;
   opacity: 50%;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
}

.filter button:hover{
  cursor: pointer;
  font-weight: 700;
}
 
.active-f{
  border-top: 3px solid #2F80ED !important ;
  border-left: 0;
  border-right: 0;
  opacity: 1 !important;
  font-weight: 700 !important;
 } 

 .newTask{
   margin-top: 18px;
   font-size: 12px;
   line-height: 15.38px;
   text-align: left;
   color: gray;
 }
 .newTask textarea{
   width: 100%;
   min-height: 80px;
   padding: 10px;
   border: 1px solid #DDDBDA;
   background: #FFFFFF;
   box-sizing: border-box;
   font-family: inherit;
 }
 .newTask button{
   min-width: 191px;
   min-height: 36px;
   background: #2F80ED;
   border-color: transparent;
   font-size: 14px;
   font-family: "Roboto", sans-serif;
   font-weight: 700;
   line-height: 16px;
   letter-spacing: 0.75px;
   text-align: center;
   color:#FFFFFF;
   margin-top: 11px;
   float: right;
   cursor: pointer;
 }

 .taskList{
   margin-top: 23px;
   display: flex;
   flex-direction: column-reverse;
 }
.task{
   max-width: 100%;
   min-height: 109px;
   border-radius: 4px;
   box-shadow: 0px 6px 20px 0px #0000001A;
   margin-bottom: 17px;
   background-color: #ffffff;
   position: relative;
   box-sizing: border-box;
   padding: 15px;
 }

.markDone{
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 18.75px;
   text-align: left;
   max-width: 100%;
   min-height: fit-content;
   white-space: pre-line;
   word-break: break-all;
 }

.markImportant{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: none;
  width: 25%;
  height: 36px;
  border-radius: 100px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-align: center;
  color: #FFFFFF;
  background: #27AE60;
  box-shadow: 0px 3px 4px 0px #0000001f;
  position: absolute;
  right: 73px;
  top: 11px;
  opacity: 0;
  transition: opacity .3s;
  cursor: pointer;
 }
 .markImportant:hover{
  box-shadow: 0px 4px 7px 0px #00000044;
 }

.delete{
  background-image: url(images/delete.svg);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  position: absolute;
  right: 12px; 
  top: 11px; 
  opacity: 0;
  transition: opacity .3s;
  cursor: pointer;
 }
 .delete:hover{
  background-color: #00000041;
 }

 .task:hover button{
  opacity: 1;
  transition: opacity .3s;
 }
 .task:hover{
  box-shadow: 0px 6px 20px 0px #2F80EDBF;
 }
 .done p{
  text-decoration: line-through;
 }

 .marked p{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-left: 25px;
  background: no-repeat url("images/star_border.svg");
 }
 .marked button:first-of-type{
  background-color: gray;
 }